body{
font-family: Arial;
margin:0;
background:#0b1e2d;
color:white;
}

header{
background:#ff6a00;
padding:20px;
text-align:center;
}

nav{
background:#111;
padding:10px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.products{
display:flex;
justify-content:center;
margin-top:40px;
}

.card{
background:#162a3a;
padding:20px;
margin:10px;
border-radius:10px;
}
