body{
font-family: Arial;
margin:0;
background:black;
color:white;
}

header{
background:green;
padding:20px;
text-align:center;
}

nav{
background:black;
padding:10px;
text-align:center;
border-bottom:2px solid green;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

nav a:hover{
color:green;
}

.products{
display:flex;
justify-content:center;
margin-top:40px;
}

.card{
background:white;
color:black;
padding:20px;
margin:10px;
border-radius:10px;
border:2px solid green;
}
